:host ::ng-deep {
  .p-datatable {
    &.p-datatable-customers {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr {
        border-bottom: 1px solid var(--layer-2);

        > td {
          .p-column-title {
            min-width: 30%;
            display: inline-block;
            font-weight: bold;
          }
        }
      }
    }
  }
}
