<form [formGroup]="form" (ngSubmit)="onSave()" class="flex flex-column gap-3">
  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label for="code">Codigo de Identificacion</label>
        <input pInputText id="code" aria-describedby="code-help" formControlName="code" />
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label for="name">Nome</label>
        <input pInputText id="name" aria-describedby="code-help" formControlName="name" />
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label for="name">CPF</label>
        <p-inputMask formControlName="cpf" maxlength="11" id="cpf" mask="999.999.999-99" unmask="true"></p-inputMask>
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input pInputText id="email" aria-describedby="email-help" formControlName="email" />
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-2">
        <label for="birthday">Data Nascimento</label>
        <p-calendar id="birthday" aria-describedby="birthday-help" formControlName="birthday" appendTo="body" />
      </div>
    </div>

    <div class="col-12">
      <fieldset formGroupName="address">
        <legend>Endereço</legend>
        <div class="grid">
          <div class="col-12 md:col-4">
            <div class="flex flex-column gap-2">
              <label for="cep">CEP</label>
              <input pInputText id="cep" aria-describedby="cep-help" formControlName="cep" />
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="flex flex-column gap-2">
              <label for="name">Logradouro</label>
              <input pInputText id="logradouro" aria-describedby="code-help" formControlName="logradouro" />
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="flex flex-column gap-2">
              <label for="name">Numero</label>
              <input pInputText id="no" aria-describedby="code-help" formControlName="no" />
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12 md:col-4">
            <div class="flex flex-column gap-2">
              <label for="name">Bairro</label>
              <input pInputText id="bairro" aria-describedby="bairro-help" formControlName="bairro" />
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="flex flex-column gap-2">
              <label for="name">Complemento</label>
              <input pInputText id="complemento" aria-describedby="complemento-help" formControlName="complemento" />
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="flex flex-column gap-2">
              <label for="name">Cidade</label>
              <input pInputText id="cidade" aria-describedby="cidade-help" formControlName="cidade" />
            </div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="col-12">
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="onAbort()" />
        <p-button label="Save" (onClick)="onSave()" [disabled]="form.invalid"/>
      </div>
    </div>
  </div>
</form>
<!--<app-local-spinner [elementRef]="formRef" [loading]="false"/>-->

